# https://www.freedesktop.org/software/systemd/man/systemd.service.html
[Unit]
Description=picarx service
After=multi-user.target

[Service]
Type=forking
WorkingDirectory=/home/admin/picar-x/
ExecStart=python3 /home/admin/picar-x/examples/app_control.py &&
Restart=always
Restart

[Install]
WantedBy=multi-user.target
